@use "@/sass/abstracts/colors.scss" as *;
@use "@/sass/components/VolumeTrack.module.scss" as *;

.soundDesktop {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  & svg {
    cursor: pointer;

    path {
      transition: fill 0.15s ease;
    }

    &:hover path {
      fill: $accent;
    }
  }

  .volume {
    @include VolumeTrack();
  }
}
