@import "@/sass/abstracts/colors.scss";

.musicListContainer {
  overflow: auto;
  width: 100%;
  height: calc(100dvh - 125px);
}

.musicList {
  list-style: none;
  color: $text;
  height: 90%;
  overflow-y: auto;
  padding: 0.5rem 0;

  &::-webkit-scrollbar {
    width: 2em;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $accent;
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  .musicListItem {
    background-color: $widget-bg;
    font-size: 0.9rem;
    padding: 0.6rem 1.4rem;
    border-radius: 1rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    @media screen and (max-width: 576px) {
      padding: 0.5rem;
      font-size: 0.9rem;
    }
    @media screen and (max-width: 425px) {
      padding: 0.4rem;
      font-size: 0.8rem;
    }

    .leftSection {
      display: flex;
      align-items: center;
      gap: 1rem;
      max-width: 80%;

      .imageBlock {
        position: relative;
        width: 40px;
        height: 40px;

        .playing {
          opacity: 1;
          cursor: pointer;
        }

        .notPlaying {
          opacity: 0;
          transition: opacity 0.15s ease-out;
          cursor: pointer;

          &:hover {
            display: block;
            opacity: 1;
          }
        }

        & svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: opacity 0.15s ease-out;
        }

        & > img {
          -o-object-fit: cover;
             object-fit: cover;
          border-radius: 5px;
        }
      }
      
      .title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    .rightSection {
      display: flex;
      align-items: center;
      gap: 1rem;

      & svg {
        cursor: pointer;
      }

      .threeDotsMenu {
        & path {
          transition: 0.15s color linear;
          stroke: $text;
        }

        &:hover path {
          stroke: $accent;
        }
      }

      .loader {
        border: 2px solid transparent;
        border-radius: 50%;
        border-top: 2px solid $accent;
        width: 18px;
        height: 18px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
      }

      @-webkit-keyframes spin {
        0% {
          -webkit-transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
        }
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}
