@import "@/sass/abstracts/colors.scss";

.container {
  height: calc(100vh - 100px);
  width: 100%;
}

.musicList {
  list-style: none;
  color: $text;
  height: calc(100% - 125px);
  padding: 1rem 0rem;

  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #9a3838 #ffffff;

  &::-webkit-scrollbar-track {
    background-color: $widget-bg;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $accent;
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  .musicListItem {
    background-color: $widget-bg;
    font-size: 1;
    margin-bottom: 20px;
    padding: 0.6rem 1.4rem;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    .leftSection {
      display: flex;
      align-items: center;
      gap: 1rem;

      .imageBlock {
        position: relative;
        width: 40px;
        height: 40px;

        .playing {
          opacity: 1;
          cursor: pointer;
        }
        
        .notPlaying {
          opacity: 0;
          transition: opacity 0.15s ease-out;
          cursor: pointer;

          &:hover {
            display: block;
            opacity: 1;
          }
        }

        & svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: opacity 0.15s ease-out;
        }

        & > img {
          object-fit: cover;
          border-radius: 5px;
        }
      }
    }

    .rightSection {
      display: flex;
      align-items: center;
      gap: 1rem;

      & svg {
        cursor: pointer;
      }
    }
  }
}
