services:
  client: # service name
    container_name: client
    build: # build image
      context: ./client # path
      dockerfile: ./Dockerfile # dockerfile path
    volumes:
      - ./client:/app #mount path
      - /app/node_modules #needed folder to persist/update data
      # remove old container+image if new packages are added
    ports:
      # hostport:containerport
      - 3000:3000
    env_file:
      - ./client/.env
    environment:
      - WATCHPACK_POLLING=true # for nextjs hot reload

  # containers can communicate with each other via container name and inner port
  # if normaly you should do 3000:3000, for containers you need only second port
  # because docker create network automatically
  # like db:5432

  db:
    container_name: db
    ports:
      # hostport:containerport
      - 5430:5432
    environment:
    # test if i need these variables
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - db:/var/lib/postgresql/data
    image: postgres:16-alpine
    restart: always

  music-service:
    container_name: music-service
    build:
      context: ./music-service
      dockerfile: ./Dockerfile
    ports:
      - 8000:8000
    volumes:
      - ./music-service:/app
      - audio:/app/src/audio
    restart: always

volumes:
  db:
  audio: