@use "./abstracts/colors.scss" as *;
@use "./abstracts/fonts.scss" as *;

:root {
  --bg: #121313;
  --text: #ececec;
  --accent: #76EFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: $bg;
  font-size: $default;
}
