@use "./abstracts/colors.scss" as *;
@use "./abstracts/fonts.scss" as *;

:root {
  --bg: #121313;
  --bg-alt: #1C1C1C;
  --bg-alt-hover: #2C2C2C;

  --text: #ececec;
  --dark-text: #111111;

  --accent: #76EFFF;
  --accent-darker: #63d8e8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: $bg;
  font-size: $default;
}
