@use "../abstracts/fonts.scss" as *;
@use "../abstracts/colors.scss" as *;

.logo {
  font-family: $qwitcher;
  color: $text;
  font-size: 2rem;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
}
