@use "@/sass/abstracts/colors.scss" as *;

.createAlbumModalContainer {
  .btn {
    position: relative;
    display: inline-block;
    background: $widget-bg;
    max-width: 234px;
    width: 20vw;
    min-width: 200px;
    max-height: 234px;
    height: 20vh;
    min-height: 200px;
    font-size: 45px;
    color: $accent;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: background 0.15s linear;

    &:before,
    &:after {
      transition: opacity 0.15s linear;
    }

    &:hover:before,
    &:hover:after {
      background: $accent;
      opacity: 1;
    }

    &:hover {
      background: $widget-bg-hover;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "";
      display: inline-block;
      width: 50px;
      height: 1px;
      background: $accent;
      opacity: 0.8;
    }

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "";
      display: inline-block;
      width: 1px;
      height: 50px;
      background: $accent;
      opacity: 0.8;
    }
  }

  .Modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 2;

    &.active {
      opacity: 1;
      visibility: visible;
    }

    .Content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      background: $widget-bg;
      min-width: 350px;
      min-height: 200px;
      border-radius: 20px;
      cursor: default;

      .input {
        background: inherit;
        padding: 5px 10px;
        color: $text;
        border: none;
        border-bottom: 1px solid $accent;
        font-size: 18px;
        margin-bottom: 15px;

        &:focus {
          outline: none;
        }
      }

      .submitButton {
        background: inherit;
        padding: 12px 20px;
        border: 1px solid $accent;
        color: $text;
        cursor: pointer;
        border-radius: 5px;
        transition: background 0.15s linear;

        &:hover {
          background: $widget-bg;
        }
      }
    }
  }
}
