@use "../../../../shared/sass/abstracts/colors.scss" as *;
@use "../../../../shared/sass/abstracts/fonts.scss" as *;

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 20%;
}

.logo {
  font-family: $qwitcher;
  color: $text;
  font-size: 2rem;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
}
