@use "@/shared/sass/abstracts/colors.scss" as *;
@use "@/sass/abstracts/fonts.scss" as *;

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%;

  @media screen and (width <=1024px){
    padding: 0 5%;
  }

  @media screen and (width <= 768px){
    padding: 0 1rem;
  }
}

.logo {
  font-family: $qwitcher;
  color: $text;
  font-size: 2rem;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
}
