@use "@/sass/abstracts/colors.scss" as *;

.categoriesList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  list-style: none;
  color: $text;
  font-weight: 600;
  padding: 0.5rem 0;
}

.categriesListItem {
  background-color: $widget-bg;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  text-align: center;
  font-size: clamp(0.8rem, 1rem, 1.2rem);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  user-select: none;

  &:hover {
    background-color: $widget-bg-hover;
  }
}
