@use "@/sass/abstracts/colors.scss" as *;

.albumIdPageContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 0.5rem;

  @media screen and (width <= 768px) {
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
  }
}

.AlbumHead {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 200px;
  height: 200px;
  flex-shrink: 0;

  @media screen and (width <= 768px) {
    height: 70px;
    width: 100%;
  }

  .Cover {
    background: #faa0a0;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
  }
  .Content {
    bottom: 20px;
    left: 15px;
    position: absolute;
    width: 90%;

    @media screen and (width <= 768px) {
      bottom: 15px;
      left: 30px;
    }

    .Title {
      font-size: 1.2rem;
      font-weight: bold;
      color: $text;
      max-width: 70%;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .Description {
      font-size: 0.9rem;
      color: $text;
    }
  }
}

.AlbumList {
  width: 100%;
  height: 80%;

  @media screen and (height > 800px) {
    height: 90%;
  }
}

.noSongsWereAdded {
  width: 100%;
  height: fit-content;
  padding: 1rem;
  text-align: center;
  color: $text;
  background-color: $widget-bg;
  border-radius: 35px;
  margin: 1rem 0;

  & a {
    color: $accent;
    text-decoration: none;
  }
}
