@use "@/sass/abstracts/colors.scss" as *;
@use "@/sass/mixins/skeletonAnimation.module.scss" as *;

%inputContainer {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border-radius: 10px;
}

%runTrack {
  height: 5px;
  background: rgba(255, 255, 255, 0.104);
  border-radius: 16px;
}

%thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #000;
  border-radius: 50%;
  border: 2px solid $accent;
}

.inputsDesktop {
  width: 100%;
  position: relative;
  height: 5px;
  padding: 1rem;
  display: flex;
  justify-content: center;

  .trackSeek {
    @extend %inputContainer;

    position: absolute;
    cursor: pointer;
    width: 70%;
    height: 5px;
    outline: none;

    &::-webkit-slider-runnable-track {
      @extend %runTrack;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: $widget-bg;
      border-radius: 50%;
      border: 2px solid $accent;
      margin-top: -5px;
      height: 15px;
      width: 15px;
      transition: background-color 0.15s linear;
    }

    &:hover::-webkit-slider-thumb {
      background-color: $accent-darker;
    }

    &::-moz-range-thumb {
      background-color: #000;
      border-radius: 50%;
      border: 2px solid $accent;
    }
  }

  .buffer {
    @extend %inputContainer;

    width: 70%;
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    height: 5px;

    &::-webkit-slider-runnable-track {
      height: 5px;
      background: rgba(255, 255, 255, 0.104);
      border-radius: 16px;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
    }

    &::-moz-range-track {
      height: 5px;
      background: rgba(255, 255, 255, 0.104);
      border-radius: 16px;
    }

    &::-moz-range-thumb {
      -moz-appearance: none;
      appearance: none;
      opacity: 0;
    }
  }
}

.desktopPlayerContainer {
  width: 100%;
  bottom: 0;
  color: $text;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0 15%;
  flex: 0 0 10%;
  background: linear-gradient(180deg, var(--bg), rgb(26 30 31) 100%);

  @media screen and (width <= 1024px) {
    padding: 0 1rem;
  }

  .mainTrackDesktop {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.buttonsDesktop {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;

  & svg {
    cursor: pointer;

    path {
      transition: fill 0.15s ease-in-out;
    }

    &:hover path {
      fill: $accent;
    }
  }

  .playOrPause {
    & svg {
      cursor: pointer;

      path {
        transition: fill 0.15s ease-in-out;
      }

      &:hover path {
        fill: $accent-darker;
      }
    }
  }

  .playOrPauseLoader {
    min-height: 23px;
    min-width: 23px;
    display: flex;
    align-items: center;
  }

  .shuffle {
    width: 23px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mobilePlayerContainer {
  bottom: 50px;
  width: 100%;
  color: $text;
  height: 50px;
  background-color: $bg;

  .inputsMobile {
    width: 100%;
    position: relative;
    height: 5px;
    display: flex;
    justify-content: center;

    .trackSeek {
      @extend %inputContainer;

      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 5px;
      outline: none;

      &::-webkit-slider-runnable-track {
        @extend %runTrack;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;

        background-color: transparent;
        border: none;
        height: 1px;
        width: 1px;
      }

      &::-moz-range-thumb {
        @extend %thumb;
        background-color: transparent;
        border: none;
        height: 1px;
        width: 1px;
      }
    }

    .buffer {
      @extend %inputContainer;

      width: 100%;
      position: absolute;
      z-index: -1;
      opacity: 0.3;
      height: 5px;
      &::-webkit-slider-runnable-track {
        @extend %runTrack;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
      }

      &::-moz-range-thumb {
        -moz-appearance: none;
        appearance: none;
        opacity: 0;
      }
    }
  }

  .mainTrackMobile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    flex: 1 1 0;

    .imageBlockMobile {
      position: relative;
      width: 15%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 0.5rem;
        box-shadow: 0 6px 20px 5px black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      & svg {
        z-index: 1;
      }

      .playOrPauseLoaderMobile {
        min-height: 23px;
        min-width: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .title {
      font-weight: 500;
      font-size: 0.8rem;
      width: 70%;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .soundMobile {
      width: 15%;
      display: flex;
      justify-content: center;
      color: $text;
    }
  }
}
