$bg: var(--bg);
$bg-alt: var(--bg-alt);
$bg-alt-hover: var(--bg-alt-hover);

$widget-bg: var(--widget-bg);
$widget-bg-alt: var(--widget-bg-alt);

$text: var(--text);
$dark-text: var(--dark-text);

$accent: var(--accent);
$accent-fade: var(--accent-fade);
$accent-darker: var(--accent-darker);

$grey: var(--grey)
