@use "@/sass/abstracts/colors.scss" as *;
.chillBlock {
  padding: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  gap: 1rem;
  height: 90%;

  &::-webkit-scrollbar {
    width: 2em;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $accent;
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }
}
