@use "@/sass/abstracts/colors.scss" as *;
@use "@/sass/mixins/skeletonAnimation.module.scss" as *;

.form {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;

  .input {
    padding: 1.35rem;
    background-color: $widget-bg;
    border: none;
    border-radius: 1rem;
    transition: 0.15s outline ease-out;
    color: $text;
    width: 50%;

    @media screen and (width <= 576px) {
      width: 100%;
    }

    transition: all 0.15s linear;
    &:focus {
      background-color: $widget-bg-alt;
      outline: none;
    }
  }

  .buttonSearch {
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;

    svg path {
      transition: 0.15s stroke linear;
    }

    &:hover svg path {
      stroke: $accent;
    }
  }
}

.musicListSkeletonContainer {
  width: 100%;

  .musicListSkeleton {
    background-color: $widget-bg;
    font-size: 0.9rem;
    padding: 0.6rem 1.4rem;
    border-radius: 1rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
    overflow: hidden;

    @include skeletonAnimation();
  }
}

.buttonRetry {
  color: white;
  background-color: var(--widget-bg);
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
