@use "@/sass/abstracts/colors.scss" as *;
@use "@/sass/abstracts/fonts.scss" as *;

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%;
  background-color: $bg;

  @media screen and (width <=1024px) {
    padding: 0 1rem;
  }
}

.logo {
  font-family: $qwitcher;
  color: $text;
  font-size: clamp(2.5rem, 2.5vw, 3.5rem);
  user-select: none;
  text-decoration: none;
}

.menuPropsList {
  display: block;
  width: 100%;
  padding: 0.5rem;
  text-decoration: none;
  color: $text;
  cursor: pointer;
  transition: 0.15s color linear;
  white-space: nowrap;
  transition: background-color 0.15s linear;
  border-radius: 10px;
  margin-bottom: 10px;

  &:hover {
    background-color: $widget-bg-hover;
  }
}

.userImage {
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0px 1px 1px 0px $accent;
  width: 46px;
  height: 46px;

  @media screen and (width <= 576px) {
    width: 40px;
    height: 40px;
  }
}

.userFiller {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #515253;
}

.themeBadgeContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 10px;
}