@use "@/sass/abstracts/colors.scss" as *;
@use "@/sass/mixins/skeletonAnimation.module.scss" as *;

.errorMessageContainer {
  margin: 0 auto;
  background-color: $widget-bg;
  border-radius: 15px;
  width: 80%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    color: $text;
    font-weight: 600;
    font-size: clamp(1rem, 2.5vw, 2rem);
    text-align: center;
  }

  a {
    color: $accent;
    text-decoration: none;
    transition: 0.15s color linear;
    font-size: clamp(1rem, 2.5vw, 2rem);
    width: fit-content;

    &:visited {
      color: $accent;
    }

    &:hover {
      color: $accent-darker;
    }
  }
}

.musicListSkeletonContainer {
  width: 100%;
  padding: 0.5rem 0;

  .musicListSkeleton {
    background-color: $widget-bg;
    font-size: 0.9rem;
    padding: 0.6rem 1.4rem;
    border-radius: 1rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
    overflow: hidden;

    @include skeletonAnimation();
  }
}
