[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
requests = "*"
pydantic = "*"
yt-dlp = "*"
python-dotenv = "*"

[scripts]
dev = "python downloadAudio.py"
server = "uvicorn main:app --reload --host 0.0.0.0 --port 8000"

[dev-packages]

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
