.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 100px);
}

.buttonChunk {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  height: 20%;

  .btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    & > span {
      display: flex;
      align-items: center;
    }
  }
}
