.container {
  display: flex;
  gap: 2rem;
  padding: 0 15%;
  flex: 1;
  overflow: auto;

  @media screen and (width <= 1024px) {
    padding: 0 1rem;
  }

  @media screen and (width <= 576px) {
    padding: 0 0.5rem;
    gap: 0;
  }
}
