@use "@/sass/abstracts/colors.scss" as *;

.container {
  display: flex;
  gap: 2rem;
  padding: 0 15%;
  flex: 1;
  height: 80%;
  width: 100%;
  background-color: $bg;
  padding-top: 1rem;

  @media screen and (width <= 1024px) {
    padding: 1rem 1rem 0rem 1rem;
  }

  @media screen and (width <= 576px) {
    padding: 1rem 0.5rem 0rem 0.5rem;
    gap: 0;
    height: 75%;
  }
}

.mobilePlayerAndNavigation {
  display: flex;
  flex-direction: column;
}
