@use "../../../../shared/sass/abstracts/colors.scss" as *;

.container {
  position: relative;
  display: flex;
  align-items: center;

  .ul {
    position: absolute;
    color: $text;
    list-style: none;
    right: 0;
    user-select: none;
    width: 200px;
    display: none;
    background-color: rgb(50, 50, 50);
  }

  .ulOpen {
    @extend .ul;
    background-color: $bg-alt;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    display: block;
    animation: fadeIn 0.15s ease;
    top: 40px;
    right: 0px;

    & li {
      cursor: pointer;
      padding: 0.8rem;

      & span {
        color: $text;
        transition: color 0.15s ease-out;
      }

      &:hover span {
        color: $accent;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
