@use "@/sass/abstracts/colors.scss" as *;

.container {
  position: relative;
  display: flex;
  align-items: center;

  .ul {
    position: absolute;
    color: $text;
    list-style: none;
    right: 0;
    user-select: none;
    max-width: 200px;
    background-color: $bg-alt;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    z-index: 1;
    animation: fadeOut 0.15s ease;
    opacity: 0;
    display: none;
  }

  .ulOpen {
    position: absolute;
    color: $text;
    list-style: none;
    right: 0;
    user-select: none;
    max-width: 200px;
    background-color: $bg-alt;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    z-index: 1;
    animation: fadeIn 0.15s ease;
    opacity: 1;
  }

  & a {
    text-decoration: none;
    color: $text;
  }

  & li {
    white-space: nowrap;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  99% {
    display: block;
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    display: none;
  }
}
