@use "@/sass/abstracts/colors.scss" as *;

.container {
  position: relative;
  display: flex;
  align-items: center;

  .ul {
    position: absolute;
    color: $text;
    list-style: none;
    right: 0;
    user-select: none;
    min-width: fit-content;
    background-color: $widget-bg;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease;
    transform: translateY(-10px);
    // display: none;
    border: 1px solid rgba(7, 7, 7, 0.349);
  }

  .ulOpen {
  
    position: absolute;
    color: $text;
    list-style: none;
    right: 0;
    user-select: none;
    min-width: fit-content;
    background-color: $widget-bg;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    z-index: 1;
    opacity: 1;
    visibility: visible;
    transition: all 0.15s ease;
    transform: translateY(0);
    border: 1px solid rgba(7, 7, 7, 0.349);
  }

  & a {
    text-decoration: none;
    color: $text;
  }

  & li {
    white-space: nowrap;
  }
}
